.center
  %h2 How old were you when you were arrested?
  %a.btn.btn-success{:href => "/juvrecord"} 16 & under
  %a.btn.btn-success{:href => "/yeararrested"} 17
  %a.btn.btn-danger{:href => "/notjuv"} 18 & over
  %br/
  %br/
  %a.btn.btn-default{:href => "/notsure"} I'm not sure
