.center
  %h2 Based on your answers, it's unclear if you were arrested as a juvenile or as an adult
  %p You will need to get your arrest record (rap sheet) to know for sure. You can still continue through these questions!
  %br/
  %a.btn.btn-success{:href => "/qa"} Continue
