.center
  %h2 What offense were you found guilty/delinquent under?
  %a.btn.btn-success{:href => "/complicated"} Felony
  %a.btn.btn-success{:href => "/complicated"} Class A Misdemeanor
  %a.btn.btn-success{:href => "/q2"} Class B or C Misdemeanor
  %br/
  %br/
  %a.btn.btn-default{:href => "/notsure"} I'm not sure
  %br/
  %br/
  %h4 Examples of misdemeanors:
  .row
    .col-xs-4
      %h5 Class A
      %ul
        %li Battery
        %li Theft
        %li Driving under the influence
        %li Shoplifting (under $300)
        %li Vandalism (under $300 damage)
        %li Possession of cannabis (10-30 grams)
    .col-xs-4
      %h5 Class B
      %ul
        %li Public intoxication
        %li Trespassing
        %li Possession of cannabis (2.5-10 grams)
    .col-xs-4
      %h5 Class C
      %ul
        %li Simple assualt
        %li Disorderly conduct
        %li Possession of cannabis (up to 2.5 grams)
