.center
  %h2 Was the conviction first degree murder?
  = link_to("No", q6_path, :method => "get", :class => "btn btn-large")
  = link_to("Yes", noteligible_path, :method => "get", :class => "btn btn-large")
