.center
  %h2 After you were arrested, did you see a judge in court?
  %p Note: the expungement process is per case - if you have multiple arrests or court cases, each case must be considered separately.
  %a.btn.btn-success{:href => "/q2"} No
  %a.btn.btn-success{:href => "/qb"} Yes
  %br/
  %br/
  %a.btn.btn-default{:href => "/notsure"} I'm not sure
