.center
  %h2 Was your case dismissed (thrown out)?
  %br/
  %a.btn.btn-success{:href => "/q2"} Yes
  %a.btn.btn-success{:href => "/qtrial"} No
  %br/
  %br/
  %a.btn.btn-default{:href => "/notsure"} I'm not sure
