.center
  %h2 What happened in your case?
  %a.btn.btn-success{:href => "/q2"} Found not guilty
  %a.btn.btn-success{:href => "/qd"} Got supervision
  %a.btn.btn-success{:href => "/q3"} Found or pleaded guilty
  %br/
  %br/
  %a.btn.btn-default{:href => "/notsure"} I'm not sure
  %br/
  %br/
  %h4 If you had probation or spent time in the Department of Juvenile Justice, you were found guilty of something. If you spent time in the Juvenile Temporary Detention Center (Audy Home), you were not necessarily found guilty of anything.
