.center
  %h2 Has the supervision been completed satisfactorily?
  %a.btn.btn-success{:href => "/q2"} Yes
  %a.btn.btn-success{:href => "/notyet4"} No
  %br/
  %br/
  %a.btn.btn-default{:href => "/notsure"} I'm not sure
