.center
  %h2 Do you have any open juvenile cases right now (including probation, supervision, or parole)?
  %a.btn.btn-success{:href => "/eligible1"} No
  %a.btn.btn-success{:href => "/opencase"} Yes
  %br/
  %br/
  %a.btn.btn-default{:href => "/notsure"} I'm not sure
