.center
  %h2 Were you tried as an adult? Some juveniles cases can be tried in adult court if they are serious.
  %br/
  %a.btn.btn-success{:href => "/qc"} No
  %a.btn.btn-danger{:href => "/notjuv"} Yes
  %br/
  %br/
  %a.btn.btn-default{:href => "/notsure"} I'm not sure
