.center
  %h2 When were you arrested?
  %a.btn.btn-success{:href => "/juvrecord"} 2014
  %a.btn.btn-success{:href => "/maybejuv"} 2010-2013
  %a.btn.btn-danger{:href => "/notjuv"} 2009 & earlier
  %br/
  %br/
  %a.btn.btn-default{:href => "/notsure"} I'm not sure
